<h1>Welcome, <%= @hiker.username %></h1>
<h3>Your hometown is: <%= @hiker.hometown %></h3>

<h3>You have hiked <%= @hiker.number_trails_completed %></h3>
<p>See the <a href="<%= hiker_aspirations_path(@hiker) %>">list of trails</a> you'd like to hike</p>
<br>
