<h1>Welcome, <%= @hiker.username %></h1>
<h3>Your hometown is: <%= @hiker.hometown %></h3>
<!-- Add Hiker.trails_completed helper method here. -->
<h3>You have hiked ___ trails.</h3>
<br>
<p>See the <a href="<%= hiker_aspirations_path(@hiker) %>">list of trails</a> you'd like to hike</p>
