<h2>Trails You Want to Hike:</h2>
<br>
<table cellpadding=3>
  <thead>
    <tr>
      <th>Trail Name</th>
      <th>Status</th>
      <th>Update!</th>
    </tr>
  </thead>
  <tbody>
    <% @aspirations.each do |a| %>
      <tr>
        <th><%= a.trail.name %></th>
        <th><%= a.completed_status %></th>
        <th>

          <!-- <%#= #form_tag(hiker_aspiration_path(current_user.id), :method => "put") do %>
            <%#= #f.submit_tag "Update Status" %>
          <%# end %> -->
          
        </th>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<p>Where else would you like to go?</p>
<p>Add an aspiration <a href="<%= new_hiker_aspiration_path(current_user.id) %>">here</a></p>
